.team-purble {
  font-family: 'DM Sans';
  position: absolute;
  top: 10px;
  left: 10px;
  background: linear-gradient(99.5deg, #fc5981 0.48%, #a2269b 100%);
  border: 1px solid #753177;
  box-sizing: border-box;
  border-radius: 5px;
  z-index: 0;
}

.mochiteam {
  flex-direction: column;
  padding: 3rem 0 8rem 0;
  background: rgba(117, 49, 119, 1);
}

.memimg {
  object-position: top;
}
