.team-purble {
  font-family: 'DM Sans';
  position: absolute;
  top: 10px;
  left: 10px;
  background: linear-gradient(99.5deg, #FC5981 0.48%, #A2269B 100%);
  border: 1px solid #753177;
  box-sizing: border-box;
  border-radius: 5px;
  z-index: 0;
}

.me-mochi {
  border: 1px solid #753177 !important;
}

.mochiteam {
  flex-direction: column;
  padding: 3rem 0 8rem 0;
}

.memimg {
  object-position: top;
}