.introductions {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}

.introductions .intro-left {
  color: white;
}

.introductions .content-into {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  align-content: stretch;
  width: 100%;
  padding: 2.5rem 0;
}

.introductions .content-into .intro-left {
  width: 60%;
  left: 0;
}

.first-product > a:hover {
  background: linear-gradient(99.5deg, #a2269b 0.48%, #fc5981 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.introductions .content-into .intro-left .first-product {
  font-weight: bold;
  color: white;
  font-size: large;
  margin: 1rem 0;
}

.introductions .content-into .intro-left .first-product a {
  text-decoration: none;
}

.introductions .content-into .intro-left .slogan-intro {
  font-weight: bold;
  color: white;
  font-size: 3rem;
  margin: 1rem 0;
}

.slogan-intro {
  font-family: 'Sassoon Infant Pro';
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
}

.introductions .content-into .intro-left .description-intro {
  margin: 1rem 0;
}

.description-intro {
  max-width: 520px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 145.2%;
}

.dlwp {
  margin: 0;
  text-align: center;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
}

.introductions .content-into .intro-left .btn-download-paper {
  margin: 0.5rem 0;
  background: linear-gradient(99.5deg, #fc5981 0.48%, #a2269b 100%);
  color: white;
  font-weight: bold;
  border: 0;
  border-radius: 0.55rem;
  padding: 0.5rem 1.2rem;
  min-width: 300px;
}

.introductions .content-into .intro-left .btn-download-paper:hover {
  transition: 0.5s;
  background: linear-gradient(99.5deg, #a2269b 0.48%, #fc5981 100%);
}

.introductions .intro-right {
  width: 55%;
}

.introductions .intro-right img {
  width: 100%;
}

.introductions .btn-introductions {
  margin: 0.5rem 0;
  background: linear-gradient(99.5deg, #fc5981 0.48%, #a2269b 100%);
  color: white;
  font-weight: bold;
  border: 0;
  border-radius: 0.55rem;
  padding: 0.5rem 1.2rem;
  min-width: 300px;
}

.introductions .btn-introductions:hover {
  transition: 0.5s;
  background: linear-gradient(99.5deg, #a2269b 0.48%, #fc5981 100%);
}

@media (min-width: 576px) {
  .introductions .content-into {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .introductions .content-into {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .introductions .content-into {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .introductions .content-into {
    max-width: 1140px;
  }
}

@media (max-width: 992px) {
  .introductions .content-into {
    margin: 7rem 0;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
  }

  .introductions .content-into .intro-left {
    position: relative;
    width: 80%;
    text-align: start;
  }

  .introductions .content-into .intro-right {
    margin-top: 3rem;
    position: relative;
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .introductions .content-into .intro-left .slogan-intro {
    font-size: 2.5rem;
  }
}
