.navbar-menu {
  padding: 1.5rem 0;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background: #753177;
  color: #ffffff;
}

.btn-bar > img {
  filter: brightness(0) invert(1);
}

.content-navbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;
}
.content-navbar .left-navbar {
  max-width: 200px;
}
.content-navbar .left-navbar img {
  width: 160px;
}
.content-navbar .right-navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;
}
.content-navbar .right-navbar .route-papers,
.content-navbar .right-navbar .route-faq {
  margin: 0 2rem;
}

.content-navbar .right-navbar {
  font-size: 1.2rem;
  font-weight: bold;
  color: #ffffff;
}
.content-navbar .right-navbar a {
  color: #ffffff;
}
.content-navbar .right-navbar a:hover {
  text-decoration: none;
}

.content-navbar .right-navbar .community-channels {
  margin-left: 5rem;
}
.content-navbar .right-navbar .community-channels a {
  margin: 0 1rem;
}

.navbar-menu .btn-bar {
  display: none;
  color: #ffffff;
  font-weight: bold;
  font-size: large;
  z-index: 4;
  transition: all 0.5s;
}

.btn-enter-app {
  padding: 0 0 0 3rem;
}

.btn-enter-app button {
  font-weight: bold;
  padding: 0.5rem 1.2rem;
  background-image: linear-gradient(to right, #f75682, #ce3f8e, #a92a99, #f45482);
  box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
  font-size: 16px;
  color: #fff;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 1.1rem;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  margin-top: 0.5rem;
}

.btn-enter-app button:hover {
  background-position: 100% 0;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.btn-enter-app button:focus {
  outline: none;
}

@media (max-width: 992px) {
  .navbar-menu .btn-bar {
    display: block;
    cursor: pointer;
  }

  .landing-page {
    position: relative;
  }

  .content-navbar .right-navbar {
    transition: all 0.5s;
    position: absolute;
    left: -150%;
    z-index: 2;
    top: 0;
    width: 100%;
    padding: 2rem 0 2rem 0;
    background-color: #753177;
  }

  .content-navbar .right-navbar.active {
    transition: all 0.5s;
    position: absolute;
    left: 0;
  }

  .content-navbar .right-navbar {
    display: block;
  }

  .content-navbar .right-navbar .route-papers,
  .content-navbar .right-navbar .route-faq {
    margin-left: 0;
    padding: 0.75rem 0 0.75rem 3rem;
  }

  .content-navbar .right-navbar .route-papers:hover,
  .content-navbar .right-navbar .route-faq:hover {
    transition: all 0.5s;
    background: linear-gradient(100.48deg, #e4609e 7.34%, rgba(228, 96, 158, 0) 100.74%);
    color: white;
  }

  .content-navbar .right-navbar .community-channels {
    margin-left: 0;
    padding: 0.75rem 0 0.75rem 3rem;
  }
  .content-navbar .right-navbar .community-channels:hover {
    transition: all 0.5s;
    background: linear-gradient(100.48deg, #e4609e 7.34%, rgba(228, 96, 158, 0) 100.74%);
    color: white;
  }
  .content-navbar .right-navbar .community-channels:hover a svg path {
    transition: all 0.5s;
    fill: white;
  }

  .content-navbar .right-navbar .community-channels a {
    margin: 0 0.5rem;
  }
  .content-navbar .right-navbar .community-channels a:first-child {
    margin-left: 0;
  }
}
