.footer {
  color: #ffffff;
  background-color: #753177;
}

.footer a:hover {
  text-decoration: none;
}

.footer a {
  color: #ffffff;
}
.footer a:hover {
  color: #ffffff;
}

.footer a:hover p {
  color: #ffffff;
}

.footer-logo {
  height: 53px;
  width: 166px;
  filter: brightness(0) invert(1);
  margin-bottom: 44px;
}

.company-name {
  font-family: 'Sassoon Infant Pro';
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 120%;
}

.company-address {
  font-family: 'Sassoon Infant Pro';
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 120%;
}

.fttn-hd {
  font-family: 'Sassoon Infant Pro';
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 120%;
}

.fttn-ct {
  color: #ffffff;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 120%;
}

.footer-pt {
  padding: 5rem 0 5rem 0;
}

@media (max-width: 767px) {
  .footer-logo {
    width: 134.71px;
    height: 44.62px;
  }

  .company-name {
    font-size: 20.2064px;
  }

  .company-address {
    font-size: 15.1548px;
  }

  .fttn-hd {
    font-size: 24px;
  }

  .fttn-ct {
    font-size: 16px;
  }
}
