@import 'bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

@font-face {
  font-family: 'Sassoon Infant Pro';
  src: url('./assets/fonts/SassoonInfantRgPro-Bold.eot');
  src: local('Sassoon Infant Pro Bold'), local('SassoonInfantRgPro-Bold'),
    url('./assets/fonts/SassoonInfantRgPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/SassoonInfantRgPro-Bold.woff2') format('woff2'),
    url('./assets/fonts/SassoonInfantRgPro-Bold.woff') format('woff'),
    url('./assets/fonts/SassoonInfantRgPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Sassoon Infant Pro';
  src: url('./assets/fonts/SassoonInfantRgPro.eot');
  src: local('Sassoon Infant Pro'), local('SassoonInfantRgPro'),
    url('./assets/fonts/SassoonInfantRgPro.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/SassoonInfantRgPro.woff2') format('woff2'),
    url('./assets/fonts/SassoonInfantRgPro.woff') format('woff'),
    url('./assets/fonts/SassoonInfantRgPro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Sassoon Infant Pro';
}

.container {
  margin: 0 auto;
}

.hidden {
  display: none;
}

.background-pink {
  background: linear-gradient(99.5deg, #FC5981 0.48%, #A2269B 100%);
}

.background-dark {
  background: #17173a;
}

.background-light {
  background: #e9fff9;
}

.background-light-pink {
  background: #feebed;
}

.big-title {
  font-family: 'Sassoon Infant Pro';
  margin-bottom: 64px;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 120.7%;
  text-align: center;
}

.sans-font {
  font-family: 'DM Sans';
}

.lc-color {
  color: #e9fff9;
}

.light-pink {
  color: #FEEBED;
}

.dark-color {
  color: #17173a;
}

.purple-color {
  color: #753177;
}

.rounded-xl {
  border-radius: 0.75rem;
}

.center {
  display: flex;
  justify-content: center;
  align-self: center;
}

.title-section {
  text-align: center;
  margin: 0 0 3rem 0;
}

.title-section h1 {
  font-weight: bold;
}

@media (max-width: 767px) {
  .big-title {
    margin-bottom: 32px;
    font-size: 32px;
  }
}
