.the-problems {
  padding: 5rem 0;
}

.the-problems .title-problems .big-text h1 {
  font-weight: bold;
  margin-bottom: 1rem;
}

.the-problems .title-problems .small-text {
  margin: 1rem 0;
  font-weight: bold;
}

.small-text {
  font-family: "DM Sans";
  text-align: center;
  font-style: normal;
  font-weight: 500 !important;
  font-size: 24px;
  line-height: 120.7%;
  margin-bottom: 5rem !important;
}

.the-problems .list-items-problems {
  margin: 2rem 0;
}

.the-problems .list-items-problems .item-problem .title-item {
  margin: 1.5rem 0;
  font-weight: bold;
  font-family: "Sassoon Infant Pro";
  font-style: normal;
  font-size: 24px;
  line-height: 120.7%;
}

.description-item {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
}

.the-problems .list-items-problems .item-problem {
  padding: 1rem 0rem ; 
}

@media (max-width: 768px) {
  .the-problems .list-items-problems {
    margin: 0;
  }

  .the-problems .list-items-problems .item-problem {
    margin: 2rem 0;
  }
  .the-problems .list-items-problems .item-problem {
    padding: 0;
  }
}
